.container-elementor-style {
    /*
        ATTENTION
        =========
        The max-width, and other declarations, make sure that the
        HTML sits in a replica of Elementor's container

        An Elementor section has a 10px margin added to it by default.
        to remove this, you will need to set the columns gap to 'No Gap'
    */
    max-width: 1140px;
    margin: 0 auto;
}

#pills-sale > form > div.advanced__search-submit.advanced__search-submit-sm > button,
#pills-let > form > div.advanced__search-submit.advanced__search-submit-sm > button {
    display: none;
}




.full-menu .elementor-nav-menu--main .elementor-nav-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 10px; /* Optional: Adds space between items */
}



.elementor-kit-5 button, .elementor-kit-5 input[type="button"], .elementor-kit-5 input[type="submit"], .elementor-kit-5 .elementor-button { 
    text-transform: inherit;


}

.navy .stickyheader {
    background-color: var(--e-global-color-primary) !important;
}

.stickyheader .red a {
    color: #cd3301 !important;
}